<link rel="stylesheet" href="/css/home.css">

<div id="hero">
    <img src="/images/hero_img.jpg" alt="img here" width="100%">
    <hr>
</div>

<section id="contact">
    <h2>CONTACT US</h2>
    <br>
    <div>
        <h3>Raghav Gohil</h3>
        <h4><img src="" alt="contact_img"> 1234567890</h4>
    </div>
</section>