<link rel="stylesheet" href="/css/project.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

{{!-- <img src="/images/texture.jpg" class="proj-bgimg"> --}}
<div class="proj-sidebar">
    {{!-- mobile big sidebar --}}
    <div id="mobile-newproj" class="projhideOnMobile hideprojsidebar">
        <div class="proj-menubtn proj-bigmenubtn">
            <li onclick=hideprojSidebar() id="side-menu1"><i class="fa-solid fa-bars"></i>Menu</li>
        </div>
        <div id="big-newproj">
            <a href="/"><i class="bi bi-pencil-square"></i>New Project</a>
        </div>
        <div class="proj-menu proj-bigmenu">
            <ul>
                <li><a href="/"><i class="bi bi-clock-history"></i>Recents</a></li>
                <li><a href="/"><i class="bi bi-journals"></i>Projects</a></li>
                <li><a href="/"><i class=" bi bi-star-fill"></i>Favorites</a></li>
                <li><a href="/"><i class="bi bi-trash-fill"></i>Trash</a></li>
            </ul>
        </div>
    </div>
    {{!-- mobile short sidebar --}}
    <div class="proj-hidesidebar projDisplayOnMobile">
        <div class="proj-menubtn">
            <li class="hideprojsidebar" onclick=showprojSidebar() id="side-menu1"><i class="fa-solid fa-bars"></i></li>
        </div>
        <div class="hideprojsidebar" id="sidenewproj">
            <a href="/"><i class="bi bi-pencil-square"></i> </a>
        </div>
        <div class="proj-sidemenu">
            <ul class="hideprojsidebar">
                <li><a href="/"><i class="bi bi-clock-history"></i></a></li>
                <li><a href="/"><i class="bi bi-journals"></i></a></li>
                <li><a href="/"><i class=" bi bi-star-fill"></i></a></li>
                <li><a href="/"><i class="bi bi-trash-fill"></i></a></li>
            </ul>
        </div>
    </div>
    {{!-- //window's sidebar --}}
    <div class="main-projsidebar projhideOnMobile">
        <div id="newproj">
            <a href="/"><i class="bi bi-pencil-square"></i>New Project</a>
        </div>
        <div class="proj-menu">
            <ul>
                <li><a href="/"><i class="bi bi-clock-history"></i>Recents</a></li>
                <li><a href="/"><i class="bi bi-journals"></i>Projects</a></li>
                <li><a href="/"><i class=" bi bi-star-fill"></i>Favorites</a></li>
                <li><a href="/"><i class="bi bi-trash-fill"></i>Trash</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="proj-body">
    <div class="proj-sbar">
        <input type="text" placeholder="Search Your Projects">
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
    <div class="proj-location">
        <span>Projects</span>
    </div>
    <div class="proj-filter">
        <select name="selectDoc" id="selectDoc">
            <option hidden>Type</option>
            <option value=".pdf">PDF</option>
            <option value=".doc">DOC</option>
            <option value=".dwg">DWG</option>
            <option value=".jpg">JPG</option>
        </select>
        <i class="fa-solid fa-caret-down"></i>
    </div>

    {{!-- <div class="proj-table"> --}}
        <table class="proj-table">
            <tr>
                <th style="width: 50%">Name</th>
                <th style="width: 30%">Last Modified</th>
                <th style="width: 20%">File Size</th>
            </tr>
            {{#each projects}}
            <tr class="proj-tblhover">
                <td style="width: 50%">{{this.projectName}}</td>
                <td style="width: 30%">{{this.lastUpdated}}</td>
                <td style="width: 20%">20kb</td>
            </tr>
            {{/each}}
        </table>
        {{!--
    </div> --}}
</div>
<script>
    function showprojSidebar() {
        const projsidebar = document.querySelector("#mobile-newproj");
        const projminisidebar = document.querySelector(".proj-hidesidebar");
        projsidebar.style.display = "block"
        projminisidebar.style.display = "none"
    }
    function hideprojSidebar() {
        const projsidebar = document.querySelector("#mobile-newproj");
        const projminisidebar = document.querySelector(".proj-hidesidebar");
        projsidebar.style.display = "none"
        projminisidebar.style.display = "block"
    }
</script>