<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/register.css">


<form action="/register" method ="POST">
    <h3>REGISTER</h3>

    <label for="name">Name</label>
    <input type="text" placeholder="Name" name="name" id="name">

    <label for="phone">Phone</label>
    <input type="tel" placeholder="Phone" name="phone" id="phone">

    <label for="username">Username</label>
    <input type="text" placeholder="Username" name="username" id="username">

    <label for="email">Email</label>
    <input type="email" placeholder="Email" name="email" id="email">

    <label for="password">Password</label>
    <input type="password" placeholder="Password" name="password" id="password">

    <button type="submit">Create Account</button>
`</form>