<link rel="stylesheet" href="/css/viewFile.css">
<h1>
    file Viewer
</h1>
<h2>{{filename}} : </h2>
<div id="viewer">
    <embed src="/pdf/{{filename}}.pdf" type="application/pdf" width="100%" height="600px" />
</div>
