#hero {
    width: 100%;
    height: 100%;
    position: relative;
}

#hero img{
    width: 100%;
    height: 100%;
    background-size: auto;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  min-height: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    height: 100%;
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease-in-out;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.active {
  background-color: #717171;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.home-head {
    position: absolute;
    top: 52%;
    left: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: #fff;
    font-size: 1.8rem;
}

.home-head h1 {
    margin-bottom: 10px;
}

.home-head h3 {
    padding-top: 20px;
}
/* #about_us{
    
} */

.about_us {
    font-size: 1.2rem;
    position: relative;
    padding: 0;
    width:100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    background-image: url("/images/texture.jpg");
    color: #0b0a0a;
    
}
.about_us h2{
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 4rem;
    margin-top: 20px;
    color: #131313b6;
}
.mainpara{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    
}
.abpara{
    width: 35%;
    background-color: #ffffffa0;
    border-radius: 40px;
    padding: 3%;
    font-size: 1.3rem;
    transition: all ease 0.2s;
    box-shadow: 2px 2px 2px #ffffffa0;
}
.abpara h4{
    font-size: 1.5rem;
    padding-bottom: 20px;
}
.abpara:hover{
    transform: scale(1.04);
}
#contact-sec{
    background-image: url("/images/texture.jpg") ;
    z-index: 1 ;
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
}


#contact{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
}

#contact_sec h1{
    padding-top: 10px;
    text-align: center;
    font-size: 3.5rem;
    color: #131313b6;
}

iframe{
    box-sizing: border-box;
    display: block;
    box-shadow: 2px #fff;
}

.contact-card {
    /* border: 1px solid #ccc;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px; */
    padding: 16px;
    display: block;   
}

.contact-card h2{
    padding: 10px;
}

#contact>div{
    text-align: center;
}

#contacts{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#mail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size:1.5rem;
}

#_mail{
    text-decoration: none;
    color: black;
}

.contact-card li{
    
    font-size: 30px;
    text-decoration-style: none;
    padding-top: 10px;
    color: white;
    align-items: center;
}

.contact-card li a{
    text-decoration: none;
    color: black;
    display: inline block;    
}

#contact_sec i{
    color: #000;
}
@media(max-width: 580px){
    .mainpara{
        flex-direction: column;
    }
}
@media(max-width: 940px){
    #contact{
        flex-direction: column;
    }
}
@media(max-width: 560px){
    iframe{
        visibility: hidden;
    }
}