@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/images/texture.jpg);
    background-size: cover;
}

.navbar {
    background-color: transparent;
    color: #fff;
}

.navbar a {
    color: #fff;
}

/* .proj-bgimg {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
} */

.proj-sidebar {
    width: 240px;
    height: 100%;
    position: absolute;
    left: 0;
}

.main-projsidebar {
    width: 100%;
    height: 100%;
    /* background-color: #00000098; */
    color: #fff;
    position: absolute;
    left: 0;
    z-index: 0;
    font-size: 1.1rem;
}

#mobile-newproj {
    width: 100%;
    height: 100%;
    /* background-color: #00000098; */
    color: #fff;
    position: absolute;
    left: 0;
    z-index: 0;
    font-size: 1.1rem;
    font-weight: 600;
    display: none;
}

#big-newproj {
    padding: 10px 5px;
    margin-top: 30px;
    margin-top: 5%;
}

#big-newproj a:hover {
    box-shadow: 2px 2px 2px grey;
}

#big-newproj a {
    color: #000;
    background-color: #fff;
    padding: 15px 12px;
    border-radius: 10px;
    margin-left: 32px;
}

#big-newproj i {
    padding-right: 10px;
}

.proj-sidebar li {
    list-style-type: none;
    padding: 10px 12px;

}

.proj-sidebar a {
    text-decoration: none;
    color: #fff;
    font-size: larger;
    font-weight: 600;
}

#newproj {
    padding: 10px 5px;
    margin-top: 30px;
}

#newproj a:hover {
    box-shadow: 2px 2px 2px grey;
}

#newproj a {
    color: #000;
    background-color: #fff;
    padding: 15px 12px;
    border-radius: 10px;
    margin-left: 32px;
}

#newproj i {
    padding-right: 10px;
}

.proj-menu {
    margin-top: 20px;
}

.proj-menu i {
    padding-right: 10px;
}

.proj-hidesidebar {
    width: 50px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    /* background-color: #00000098; */
    font-size: 1.1rem;
    display: none;
}

.proj-hidesidebar ul {
    padding: 0;
}

.proj-menubtn {
    font-size: 1.3rem;
    padding: 15px 12px;
    margin-top: 10px;
    color: #fff;
}

.proj-menubtn li {
    padding: 0;
}

.proj-bigmenubtn {
    padding-left: 32px;
    margin-top: 0;
}

.proj-bigmenubtn li {
    padding: 10px 12px;
}

.proj-bigmenubtn i {
    padding-right: 10px;
}

#sidenewproj {
    padding: 15px 12px;
    margin-top: 15px;
    font-size: 1.2rem;
}

.proj-bigmenu {
    margin-top: 7px;
}

.proj-body {
    position: absolute;
    left: 240px;
    top: 14vh;
    width: 81%;
    height: 100%;
    background-color: #ffffffa0;
    border-top-left-radius: 20px;
}

.proj-sbar {
    margin-top: 3%;
    width: auto;
    height: 7%;
    display: flex;
    justify-content: center;
    border: 1% solid black;
    position: relative;
}

.proj-sbar input {
    width: 50%;
    border: none;
    border-radius: 20px;
}

.proj-sbar ::placeholder {
    padding-left: 5%;
}

.proj-sbar button {
    height: 72%;
    position: absolute;
    top: 50%;
    right: 23%;
    transform: translate(-50%, -50%);
    width: 5%;
    border: none;
    border-radius: 20px;
    background-color: transparent;
}

.proj-location {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 10px 12px;
    margin: 0 10px;
}

.proj-location span {
    padding: 10px 12px;
    border-radius: 15px;
}

.proj-location span:hover {
    background-color: #7b7b7b7a;
}

.proj-filter {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    position: relative;
}

.proj-filter select {
    padding: 8px 20px 8px 10px;
    position: relative;
    border-radius: 20px;
    border: none;
    appearance: none;
    margin-left: 20px;
    font-size: 1rem;
    background-color: #e8e8e8;
}

.proj-filter i {
    position: absolute;
    font-size: 0.8rem;
    color: #343434a9;
    left: 7.5%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#selectDoc option{
    padding: 2px;
    padding-top: 2px;
}

#selectDoc:focus-visible{
    outline: none;
}

.proj-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 95%;
    margin: 0 0 0 20px;
    overflow: hidden;
}

.proj-table th, td{
    border-bottom: 1px solid #7b7b7b7a;
    text-align: left;
    padding: 8px;
}

.proj-table td {
    border-bottom: 1px solid #7b7b7b7a;
}

.proj-tblhover:hover {
    background-color: #7b7b7b7a;
    cursor: pointer;
}




/* .col-1 {
    width: 50%;
}

.col-2 {
    width: 30%;
}

.col-3 {
    width: 20%;
} */

@media(max-width: 750px) {
    .projhideOnMobile {
        display: none;
    }

    .projDisplayOnMobile {
        display: block;
    }
}

@media(min-width: 750px) {
    .hideprojsidebar {
        display: none;
    }
}